<link rel="stylesheet" href="/css/chatbox.css">
<div id="chatbox">
    <div id="chat-screen">
        <ul type="none">
            <li class="other-message">other-message</li>
            <li class="self-message">self-message</li>
        </ul>
    </div>
    <div>
        <input type="text" name="message" placeholder="start writing here...">
        <button type="submit" class="btn btn-success" id="send-button"><i class="fas fa-share-square"></i></button>
    </div>



</div>
<script src="https://kit.fontawesome.com/a8a9b356fd.js" crossorigin="anonymous"></script>