#particles-js {
  margin: 0px;
padding:0px;
   background-image: url("../images/back.jpg");
  //  background-repeat: repeat-x;
   background-position: center;
   background-size: cover;
   height:76vh;
   position:fixed !important;
   display:block;
   z-index: -1;
 
  }
 
 #brand {
   margin: 15px;
   margin-bottom: 7px;
   font-family: sans-serif;
   color: #ecd5d5; }
 
 a:active {
   color: black; }